<div class="container-fluid">
  <ul class="thumbnails list-group">
    <li class="span4 col-md-3 list-group-item" *ngFor='let bucket of allBuckets'>
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
        <h3><a [routerLink]="[bucket.id,'items']" (click)='gotoItems()'>{{bucket.name}}</a></h3>
        <span>Created:</span>{{bucket.date_created | date: 'longDate'}}<br />
        <span>Modified:</span>{{bucket.date_modified  | date: 'longDate'}}<br />
        <app-bucketlistmodal (deleteBucket)='deleteBucketList($event)' (updateBucket)='updateBucketList($event)' (createBucket)='createBucketList($event)' [bucketUrl]='bucket.url' [bucketName]='bucket.name' [bucketId]='bucket.id'></app-bucketlistmodal>
      </div>
    </li>
  </ul>
  <div *ngIf=!allBuckets class="row alert-warning text-center col-md-6 col-md-offset-3">
    <h4>You do not have bucketLists click <strong>New BucketList</strong> to create </h4>
  </div>
</div>
<div>
  <nav aria-label="..." *ngIf='previous || next'>
    <ul class="pager">
      <li class="pager-item">
        <button [disabled]='!previous' class="btn btn-primary btn-lg" (click)='getPrevious()'><span class="glyphicon glyphicon-hand-left"></span></button>
      </li>
      <li class="pager-item">
        <button [disabled]='!next' class="btn btn-primary btn-lg" (click)='getNext()'><span class="glyphicon glyphicon-hand-right"></span></button>
      </li>
    </ul>
  </nav>
</div>

<!-- Create bucketlist -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="createBucket" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Bucketlist</h4>
        </div>
        <div class="modal-body">
          <!-- <form> -->
            <div class="input-group">
              <span class="input-group-addon">BucketList Name :</span>
              <input id="msg" type="text" class="form-control" name="msg" #inputData placeholder="Enter Name" autofocus>
            </div>
          <!-- </form> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)='createBucketList(inputData.value)'  data-dismiss="modal">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>
