<div class="">
  <div *ngIf=!bucketItem >
    <!-- <span class="btn btn-defualt item"><button></span>Buckets</button></span> -->
    <a [routerLink]="['/dashboard/bucketlists']" class="btn btn-defualt item" (click)='backtoBuckets()'><span class="glyphicon glyphicon-triangle-left lg"></span>Buckets</a>
    <a (click)='createItemSignal()' class="btn btn-defualt item">New Item</a>
  </div>
  <table class="table" *ngIf='BucketList'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date_Created</th>
        <th>Date_Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{BucketList.name}}</td>
        <td>{{BucketList.date_created | date: 'longDate'}}</td>
        <td>{{BucketList.date_modified | date: 'longDate'}}</td>
      </tr>
      <tr>
  </tbody>
  </table>
  <div *ngIf="itemsList && !itemsList.length">
    <p> No Bucket Items Create here</p>
  </div>
  <div class="container-fluid" *ngIf='itemsList && itemsList.length'>
    <ul class="thumbnails list-group" >
      <li class="span4 col-md-3 list-group-item" *ngFor='let item of itemsList'>
        <div class="thumbnail">
          <h4>{{item.name}}</h4>
          <!-- <p>Thumbnail caption...</p> -->
          <span>Created:</span>{{item.date_created | date: 'longDate'}}<br />
          <span>Modified:</span>{{item.date_modified | date: 'longDate'}}<br />
          <span>Done:</span>{{item.done}}<br />
          <app-bucketitemmodal (updateItem)="updateItem($event)" (deleteItem)="deleteItem($event)" [itemId]='item.id'[itemName]='item.name' [itemUrl]='item.url'></app-bucketitemmodal>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Create bucketItem -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="createItem{{itemId}}" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Bucketlist Item</h4>
        </div>
        <div class="modal-body">
            <div class="input-group">
              <span class="input-group-addon">Item Name :</span>
              <input id="msg" type="text" class="form-control" name="msg" #itemInput placeholder="Enter Name">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)='createBucketLisItem(itemInput.value)' data-dismiss="modal">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>
